/*
Author:fanzjgw
E-mail:fanzjgw@163.com
Time:2014.3.30
*/
html { overflow-y: hidden; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0;}
input,button,select,textarea{outline:none}
img{border:none;}
textarea{resize:none}
ul {list-style:none;}
body { color: #fff; background: #000;}
body, input, button, select, textarea { font:14px/1.6 'Microsoft Yahei',sans-serif; }
a{color:#fff;text-decoration:none;outline:none}
a:hover{color:#FFFF99;}
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; }
.z{float:left;}
.y{float:right;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ main Style ~~~~ */ 
.bar { position: absolute; top: 0; left: 0; right: 0; height: 44px; line-height: 44px; z-index: 100; background:#000; background:rgba(0,0,0,0.8); filter:alpha(opacity=80); }
.bar .body { position:relative; }

.header h2 { float: left; margin-right: 10px; width: 160px; height: 44px; border-right: 1px solid #444; text-align: center; }
.header .classify i,.header .classify em { font-style: normal; font-size: 10px; margin-left: 2px;}
.header .classify strong { font-weight: normal; }
.header a.addArticle { display: block; float: right; margin-right: 10px; width: 100px; height: 44px; border: 2px solid #18b2b8; background: #21204a; border-radius: 25px; text-align: center; }
	.header a.addArticle s { float:left; font-style: normal; text-decoration: none; font-size: 24px; margin:0 -2px 0 10px; }
.header .icon { float: right; }
	.header .icon a { overflow: hidden; float:left; margin: 20px 8px 20px 0; background: #eee; width: 8px; height: 8px; text-indent: -999px; border-radius: 8px; }
	.header .icon a:hover,.header .icon a.cur { background: #FFFF99;}

.wrapbg { position: fixed; width: 100%; height: 100%; background: #dae0e8; left: 0; z-index:-1}
	.wrapbg img { display:block; min-width: 100%; min-height: 100%; top: 0; left: 0; right: 0; bottom: 0; margin: auto; }

.article { overflow: auto; position: absolute; background:#000; background:rgba(0,0,0,0.8); filter:alpha(opacity=80); padding: 30px; }
	.article h1 { font-size: 20px; font-weight: 700; color: #FFFF99; margin-bottom: 20px; }
	.article .edit_title{font-size: 20px; font-weight: 700; margin-bottom: 20px; border: 5px solid; border-color: #18b2b8; border-radius: 25px; text-align: center;}
	.article .inner { overflow-y: auto; }

.bottombar { _position:absolute; position: fixed; bottom: 0; left: 0; right: 0; height: 5px; line-height: 44px; z-index: 400; 
background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.4) 98%, #FFFFFF 100%); 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(40%, rgba(0, 0, 0, 0.4)), color-stop(98%, rgba(0, 0, 0, 0.4)),color-stop(100%, #FFFFFF)); 
background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.4) 98%, #FFFFFF 100%); 
background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.4) 98%, #FFFFFF 100%); 
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#22FFFFFF', EndColorStr='#33000000'); 
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.4) 98%, #FFFFFF 100%);
background-color: currentcolor;
}
.bottombar span { float: left; }
	.bottombar a.icon { float:left; display: block; overflow: hidden; width: 44px; height: 44px; text-indent: -999px; background-position: 50% 50%; background-repeat: no-repeat; background-size:18px 18px;}
	.bottombar a.like { background-image: url(../images/like.png);}
	.bottombar a.like_in { background-image: url(../images/like_in.png);}
	.bottombar a.like_on { background-image: url(../images/like_on.png);}
	.bottombar a.comment { background-image:url(../images/comment.png); }
	.bottombar a.comment_in { background-image:url(../images/comment_in.png); }
	.bottombar a.share { background-image:url(../images/share.png); }
	.bottombar a.share_in { background-image:url(../images/share_in.png); }
	.bottombar a.music { background-image:url(../images/music.png); }
	.bottombar a.music_in { background-image:url(../images/music_in.png); }
	.bottombar a.edit { background-image:url(../images/edit.png); }
	.bottombar a.edit_in { background-image:url(../images/edit_in.png); }
	.bottombar a.del { background-image:url(../images/del.png); }	
	.bottombar a.del_in { background-image:url(../images/del_in.png); }	
.bottombar cite { float: right; color: #eee; padding-right: 20px;}
	.bottombar cite a { margin-right: 10px; font-size: 14px; }

.cpbottom { display: none; _position:absolute; position: fixed; bottom: 0; left: 0; right: 0; padding-right:20px; height: 44px; line-height: 44px; z-index: 400; background:#000; text-align: right; z-index: 800; }
	.cpbottom a { float: right; margin-left: 10px; }
	.submit { display: block; margin-right: 10px; width: 80px; height: 44px; background: #004fd1; text-align: center; color: #fff; }

.selectbox { display: none; position: absolute; top: 48px; left: 0; z-index: 200; width: 440px; background:#000; background:rgba(0,0,0,0.8); filter:alpha(opacity=80); }
.selectbox .body { position:relative; padding: 10px; }
.selectbox .item a { float: left; display: block; width: 60px; text-align: center; }
.selectbox .my { padding-left: 15px; }
.selectbox .my a { margin-right: 10px; }

.setting { display: none; position: absolute; left: 20px; top: 20px; width:90px; height: 30px; line-height: 30px; z-index: 800; background: #333; text-align: center;}
.setting i,.setting em { font-style: normal; font-size: 10px; margin-left: 2px;}
.cp{ display: none; overflow-y:auto; width: 380px; height:480px; position: absolute; top: 50px; left: 20px; z-index: 300; background: #333;}
.cp dl { padding: 20px; border-bottom: 1px solid #444;}
.cp dl dt { font-size: 16px; }
.cp dl dd { padding: 10px 0; }
.cp dl dt a { float: right; font-size: 12px; color: #6699FF; }

.layout li,.bg li{ float: left; display: inline; width: 33%; text-align: center; font-size: 12px;}
.layout li a { overflow: hidden; margin: 0 auto 6px; display: block; width:60px; height: 40px; border-radius: 10px; border:2px solid #6699ff;  }
.layout li a cite { overflow:hidden; text-indent:-999px; display: block; background: #6699ff; border-radius: 7px;}
.layout li.left cite { float:left; margin-left:1px; margin-top:1px; height: 38px; width: 30px; }
.layout li.align cite { margin:5px auto; height: 30px; width: 46px; }


.bg li { position: relative; }
.bg li img{ width: 100px; height: 74px; border: 1px solid #fff;}
.bg li a{ position: absolute; bottom: 0; right: 0; background: #eee;  color:#6699ff; padding: 0 2px;}

.music li { padding-left:14px; padding-right: 4px; border-bottom: 1px dotted #444; font-size: 12px; }
.music li:hover { background: #444;}
.music li cite { float: left;  margin-left: -14px; font-style: normal; }
.music li a.delMsc,.music li span { float: right;}
.music li a { margin-left: 16px; }
.music input { background: #444; border: none; margin-right: 10px; padding: 0 4px; color: #fff;}
.music input.long { width: 160px;}
.music input.low { width: 60px; }


.pn {margin-left: 10px; padding: 0 20px;height: 28px;line-height: 28px;background-color: #598cff;border: none;color: #ffffff;cursor: pointer;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;text-shadow: 0 1px 0 #4a4a4a;}
.pn:active {box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);}
.pnr {color: #ffffff !important;background-color: #dc0000;}
.pnc {color: #4a4a4a; background-color: #f1f1f1;text-shadow: 0 1px 0 #ffffff;}

.confirm { display: none; width: 300px; height:140px; position: absolute; right: 40px; bottom: 44px; z-index: 300; background: #333;}
.confirm dl { margin: 20px; }
.confirm dl dt { font-weight: 700; padding-bottom: 10px; }
.confirm dl dd { font-size: 12px;}
.confirm .foot { text-align: right; }

#dataForm { display: none;}
.addImage,.addMusic { display: none;overflow:hidden;height:0px;}
.uploadImgBtn {background-image:url(../images/addImage_32.ico); height: 32px; width: 32px;}
.uploadMusicBtn {background-image:url(../images/addMusic_32.ico); height: 32px; width: 32px;}

.step {position: fixed; top: 50%; background-repeat:no-repeat; width: 50px; height:75px; background-position:center; z-index: 500}
.previous {left: 0px;top: 50%; background-image: url(../images/previous.png); }
.next {right: 0px;top: 50%; background-image: url(../images/next.png);}
